#cloud-config
ssh_pwauth: True

chpasswd:
  list:
    - root:R
    - cloud-user:R
  expire: False

users:
  - name: cloud-user
    ssh_authorized_keys:
      - ssh-rsa AAAAB...*** <local_user>
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel

